body {
	margin: 0;
	padding: 0;
	font-family: arial sans-serif;
	background-color: yellow;
}
 *{
 	box-sizing: border-box;
 	margin: 0;
 	padding: 0;
 }
h1 {
	text-align: center;
	font-size: 25px;
	padding-top: 20px;
}
h2{
	padding-left: 130px;
	margin-top: 40px;
	font-size: 25px;
	color: red;
	margin: 0 auto;
	width: 380px;
}
.st{ 
	padding-left: 110px;
	margin-top: 30px;
	font-size: 20px;

 }
 .text{
 	width: 700px;
 	margin: 0 auto;
 }
.foto{
	border-radius: 50px;
	padding: 10px 10px 20px 10px;
}
.svoefoto{
	padding-left: 50px;
}
.portfolio{
	display: flex;
}
.info{
	padding-top: 90px;
	padding-left: 20px;
}
.stend-foto{
	padding-top: 20px;
	padding-left: 50px;
	margin: 0 auto;
	width: 500px;
}
.st{
	margin: 0 auto;
	width: 430px;
}
.info-stend{
	padding-top: 40px;
	padding-left: 10px;
}
ol{
	padding-top: 20px;
	padding-left: 50px;
	color: black;
}
ul{
	color: green;
    padding-left: 30px;
}

